<header class="top">
    <nav class="menu_institucional">
      <ul class="links">
        <li><a title="Saiba mais sobre nós" aria-label="Sobre Nós" routerLink="/sobre-nos">Sobre Nós</a></li>
        <li><a title="Veja nossas galerias" aria-label="Galerias" routerLink="/galerias">Galerias</a></li>
        <li><a title="Entre em contato conosco" aria-label="Contato" routerLink="/contato">Contato</a></li>
      </ul>
      <ul class="links social">
        <li><a title="Siga-nos no Facebook" aria-label="Facebook" routerLink="/facebook"></a></li>
        <li><a title="Siga-nos no Instagram" aria-label="Instagram" routerLink="/instagram"></a></li>
      </ul>
    </nav>
    <div class="container logo">
      <div class="logo"></div>
      <div class="banner"></div>
    </div>
    <nav class="menu_categorias">
      <ul class="links">
        <li><a title="Veja nossos destaques" aria-label="Destaques" routerLink="/destaques">Destaques</a></li>
        <li><a title="Saiba mais sobre o turismo em Bambuí" aria-label="Turismo em Bambuí" routerLink="/turismo">Turismo em Bambuí</a></li>
        <li><a title="Veja nossos eventos em Bambuí" aria-label="Eventos em Bambuí" routerLink="/eventos">Eventos em Bambuí</a></li>
        <li><a title="Veja o horário dos ônibus" aria-label="Horário de ônibus" routerLink="/horario-onibus">Horário de ônibus</a></li>
        <li><a title="Veja nosso guia comercial" aria-label="Guia Comercial" routerLink="/guia-comercial">Guia Comercial</a></li>
      </ul>
    </nav>
</header> 